extends layout

block content
    div.delete-screen
        h1.delete-title #{title}: #{cultivar.name}

        p.delete-confirm Are you sure you want to delete 
            span.delete-item-name #{cultivar.name}
            | ? This action cannot be undone.

        form(method='POST' action='')
            div.form-group
                input#cultivarid.form-control(type='hidden', name='cultivarid', required='true', value=cultivar._id)

            button(class='delete-button' type='submit') Yes, delete it
