extends layout 

block content 
    h1.list-title All Flavors
    p Click a flavor tag to view all associated plant varieties.
    ul.flavor-list 
        each flavor in flavor_list
            li.flavor-item
                a(href=flavor.url) #{flavor.flavor}
        else 
            li.flavor-item There are no flavors.