extends layout

block content
    div.delete-screen
        h1.delete-title #{title}: #{flavor.flavor}

        p.delete-confirm Are you sure you want to delete 
            span.delete-item-name #{flavor.flavor}
            | ? This action cannot be undone.

        form(method='POST' action='')
            div.form-group
                input#flavorid.form-control(type='hidden', name='flavorid', required='true', value=flavor._id)

            div.form-group.pw-form-group
                label(class='pw-label' for='password') Admin Password:
                input.form-input(class='pw-input' type='password' name='password' required='true')
                
            button(class='delete-button' type='submit') Yes, delete it
