extends layout 

block content 
    h1= title 

    div(class='flavor-info')
        div(class='flavor-name') #{flavor_data.flavor}
        div(class='flavor-plants') Plant varieties with this flavor note:
            p PLANTS WILL GO HERE
