extends layout

block content
    h1 Sorry, the password was incorrect.
    div.pw-action-buttons
        button.action-button.back-button(type='button' onclick='javascript:history.back()') Try again
        button.action-button.home-button(type='button')
            a(href='/inventory') Go home