doctype html
html(lang='en')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        header
            div(class='site-title') 
                a(href='/inventory') brassicaDB
        aside(class='sidebar')
            nav
                ul(class='nav-list')
                    li
                        a(class='home-link' href='/inventory') Home
                    li
                        a(href='/inventory/plants') View Plant Varieties
                    li
                        a(href='/inventory/species-list') View Species
                    li
                        a(href='/inventory/cultivars') View Cultivars
                    li
                        a(href='/inventory/flavors') View Flavors
                    li 
                        a(href='/inventory/plant/create') Create New Plant Variety 
                    li 
                        a(href='/inventory/species/create') Create New Species
                    li 
                        a(href='/inventory/cultivar/create') Create New Cultivar 
                    li 
                        a(href='/inventory/flavor/create') Create New Flavor
        main
            block content
        footer
            - const year = (new Date()).getFullYear()
            div(class='copyright') copyright © #{year} - ssbbd
