extends layout

block content
  h1 #{title}: #{plant.name}

    p Are you sure you want to delete this plant?

    form(method='POST' action='')
      div.form-group
        input#plantid.form-control(type='hidden', name='plantid', required='true', value=plant._id)

      button(type='submit') Delete
