extends layout 

block content 
    h1= title 

    ul 
        each species in species_list
            li 
                a(href=species.url) #{species.name}
        else 
            li There are no species.