extends layout 

block content 
    h1.list-title All Species
    ul.page-list
        each species in species_list
            li.species-item
                div.species-name
                    a(href=species.url) #{species.name}
                div.species-description #{species.description}
                div.action-button.species-link
                    a(href=species.url) View full details
        else 
            li.species-item There are no species.