@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraCode-VariableFont_wght.ttf');
    font-weight: 300 700;
}

:root {
    --rvv: calc(1rem + 1vmin + 1vmax);
    --pink: #ff6da4;
    --light-green: #00b672;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a,
a:hover,
a:visited {
    color: black;
    text-decoration: underline;
    transition: text-shadow 0.1s ease-in-out;
}

a:hover {
    text-shadow: var(--pink) 0 0 3px;
}

ul, ol {
    list-style: none;
}

strong {
    font-weight: 550;
}

html,
body {
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    background: rgb(0,146,91);
    background: linear-gradient(143deg, rgba(0,146,91,0.8295912114845938) 0%, rgba(0,182,114,0.7651654411764706) 100%);
    font-size: calc(0.45*var(--rvv));
    padding: 30px 50px;
    font-family: 'Fira Mono';
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 150px 1fr;
    column-gap: calc(2*var(--rvv));
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

header {
    grid-area: header;
    display: flex;
    gap: 10vw;
}

.site-title {
    font-size: 50px;
}

.site-title a {
    text-decoration: none;
}

.site-title a:hover {
    text-shadow: none;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgba(255, 255, 255, 0.685);
    height: fit-content;
    padding: 20px 10px;
    border-radius: 5px;
}

.nav-list {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.nav-list li {
    width: 100%;
    text-align: center;
}

.nav-list a,
.nav-list a:visited {
    text-decoration: none;
}

.home-link {
    font-size: 1.3rem;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: calc(0.3*var(--rvv));
}

h1 {
    font-size: calc(0.5*var(--rvv));
}

footer {
    margin-top: auto;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* index page */

.inventory-stats {
    font-size: 1rem;
    margin-top: 30px;
    min-width: 400px;
    width: 25%;
    max-width: 600px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
}

.inventory-title {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.inventory-list-item a,
.inventory-list-item a:visited {
    text-decoration: underline;
    transition: text-shadow 0.1s ease-in-out;
}

.inventory-list-item a:hover {
    text-shadow: var(--pink) 0 0 3px;
}

/* general list view styles: */

.list-title {
    font-size: calc(0.8*var(--rvv));
}

.page-list {
    display: flex;
    flex-direction: column;
    gap: calc(0.3*var(--rvv));
}

/* plant list view */

.plant-item {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.5fr;
    column-gap: 20px;
    grid-template-areas: "plant-name plant-species plant-stock";
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 5px 10px;
}

.demo-item {
    font-size: calc(0.6*var(--rvv));
    background-color: rgba(255, 255, 255, 0.685);
    padding-top: 10px;
    padding-bottom: 10px;
}

.plant-name {
    grid-area: plant-name;
}

.plant-species {
    grid-area: plant-species;
}

.plant-stock {
    grid-area: plant-stock;
}

@media screen and (max-width: 800px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        margin: 20px 0;
    }

    .nav-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;       
        gap: 30px;
        padding: 0 15px;
    }
    
    .nav-list li {
        width: 45%;
        text-align: center;
    }

    .nav-list li:first-child {
        width: 100%;
    }

    .inventory-stats {
        align-self: center;
        padding: 20px;
        min-width: 0;
        width: auto;
        max-width: 80%;
        flex-direction: column;
    }
}