@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraCode-VariableFont_wght.ttf');
    font-weight: 300 700;
}

:root {
    --rvv: calc(1rem + 1vmin + 1vmax);
    --pink: #ff6da4;
    --light-green: #00b672;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a,
a:hover,
a:visited {
    color: black;
    text-decoration: underline;
    transition: text-shadow 0.1s ease-in-out;
}

a:hover {
    text-shadow: var(--pink) 0 0 3px;
}

ul, ol {
    list-style: none;
}

strong {
    font-weight: 550;
}

html,
body {
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
}

body {
    background: rgb(0,146,91);
    background: linear-gradient(143deg, rgba(0,146,91,0.8295912114845938) 0%, rgba(0,182,114,0.7651654411764706) 100%);
    font-size: calc(0.45*var(--rvv));
    padding: 30px 50px;
    font-family: 'Fira Mono';
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 150px 1fr;
    column-gap: calc(2*var(--rvv));
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

header {
    grid-area: header;
}

.site-title {
    font-size: 50px;
}

.site-title a {
    text-decoration: none;
}

.site-title a:hover {
    text-shadow: none;
}

.sidebar {
    grid-area: sidebar;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.685);
    height: fit-content;
    padding: 20px 10px;
    border-radius: 5px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.icon {
    cursor: pointer;
    height: 30px;
    transition: transform 0.1s ease-in-out;
}

.icon:hover {
    transform: scale(1.05);
}

.expand-icon,
.collapse-icon {
    display: none;
}

.nav-list {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.nav-list li {
    width: 100%;
    text-align: center;
}

.nav-list a,
.nav-list a:visited {
    text-decoration: none;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: calc(0.3*var(--rvv));
}

h1 {
    font-size: calc(0.8*var(--rvv));
}

footer {
    margin-top: auto;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* index page */

.inventory-stats {
    font-size: 1rem;
    margin-top: 30px;
    min-width: 400px;
    width: 25%;
    max-width: 600px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
}

.inventory-title {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.inventory-list-item a,
.inventory-list-item a:visited {
    text-decoration: underline;
    transition: text-shadow 0.1s ease-in-out;
}

.inventory-list-item a:hover {
    text-shadow: var(--pink) 0 0 3px;
}

/* general list view styles: */

.page-list {
    display: flex;
    flex-direction: column;
    gap: calc(0.3*var(--rvv));
}

/* plant list view */

.plant-item {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.5fr;
    column-gap: 20px;
    grid-template-areas: "plant-name plant-species plant-stock";
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 5px 10px;
}

.demo-item {
    font-size: calc(0.6*var(--rvv));
    background-color: rgba(255, 255, 255, 0.685);
    padding-top: 10px;
    padding-bottom: 10px;
}

.plant-name {
    grid-area: plant-name;
    font-size: calc(0.6*var(--rvv));
}

.plant-species {
    grid-area: plant-species;
}

.plant-stock {
    grid-area: plant-stock;
}

/* plant detail view */

.plant-info {
    max-width: 1000px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas:
        "plant-name-label plant-name-text"
        "plant-description-label plant-description-text"
        "plant-species-label plant-species-text"
        "plant-cultivars-label plant-cultivars-text"
        "plant-flavors-label plant-flavors-text"
        "in-stock-label in-stock-status"
        "plant-action-buttons plant-action-buttons";
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 20px 30px;
    font-size: calc(0.6*var(--rvv));
}

.plant-info .left-column {
    text-align: end;
}

.plant-info .left-column:not(.plant-update) {
    font-weight: 300;
}

.plant-name-label {
    grid-area: plant-name-label;
}

.plant-name-text {
    grid-area: plant-name-text;
}

.plant-description-label {
    grid-area: plant-description-label;
}

.plant-description-text {
    grid-area: plant-description-text;
}

.plant-species-label {
    grid-area: plant-species-label;
}

.plant-species-text {
    grid-area: plant-species-text;
}

.plant-cultivars-label {
    grid-area: plant-cultivars-label;
}

.plant-cultivars-text {
    grid-area: plant-cultivars-text;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.plant-flavors-label {
    grid-area: plant-flavors-label;
}

.plant-flavors-text {
    grid-area: plant-flavors-text;
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.plant-flavor {
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.plant-flavor:hover {
    transform: scale(1.05);
}

.plant-flavor a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.plant-flavor a:hover {
    text-shadow: none;
}

.in-stock-label {
    grid-area: in-stock-label;
}

.in-stock-status {
    grid-area: in-stock-status;
}

.purchase-button {
    font-size: calc(0.4*var(--rvv));
    width: calc(3*var(--rvv));
    padding: 10px;
    margin-left: 20px;
    border-radius: 3px;
    cursor: pointer;
    max-width: 150px;
    border: none;
    align-self: center;
    font-family: 'Fira Mono';
    background-color: #006842;
    color: rgba(237, 237, 237, 0.849);
    transition: transform 0.1s ease-in-out;
}

a.purchase-link {
    display: block;
    height: 100%;
    width: 100%;
    color: rgba(237, 237, 237, 0.849);
    text-decoration: none;
}

.purchase-link:hover {
    text-shadow: none;
}

.plant-action-buttons {
    grid-area: plant-action-buttons;
    display: flex;
    justify-content: center;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff92bc;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 3px;
    transition: transform 0.1s ease-in-out;
    margin: 0 10px;
}

.action-button a {
    text-align: center;
    text-decoration: none;
}

.action-button:hover {
    transform: scale(1.05);
}

/* create plant form */

.plant-form {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
}

.form-input {
    background-color: rgba(237, 237, 237, 0.849);
    border: none;
    font-family: 'Fira Mono';
    padding: 8px;
}

.form-input:not(.checkbox-input):focus {
    outline: 2px solid var(--pink);
    background-color: rgb(255, 236, 243);
}

.form-input:not(::placeholder):invalid {
    outline: 2px solid rgb(255, 153, 0);
    background-color: rgb(255, 232, 197);
}

.plant-form textarea {
    height: 75px;
    resize: none;
}

.plant-form .form-section:not(.flavor-section) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-areas: "plant-form-label plant-form-input";
}

.plant-form label:not(.flavor-label):not(.yes-label) {
    grid-area: plant-form-label;
    font-size: calc(0.6*var(--rvv));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
}

.plant-form .form-input:not(.flavor-input) {
    grid-area: plant-form-input;
}

.flavor-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-flavor-label {
    font-size: calc(0.6*var(--rvv));
    text-decoration: underline;
    margin-bottom: 10px;
}

.flavor-options {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.checkbox-input {
    cursor: pointer;
}

.stock-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.yes-label {
    font-size: calc(0.5*var(--rvv));
}

form button {
    font-size: calc(0.5*var(--rvv));
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    max-width: 150px;
    border: none;
    align-self: center;
    font-family: 'Fira Mono';
    background-color: #006842;
    color: rgba(237, 237, 237, 0.849);
    transition: transform 0.1s ease-in-out;
}

form button:hover,
.plant-info button:hover {
    transform: scale(1.05);
}

/* species list view */

.species-item {
    max-width: 1000px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.species-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: calc(0.6*var(--rvv));
}

.species-link {
    align-self: flex-end;
}

.species-link a:hover {
    text-shadow: none;
}

/* species form */

.species-form {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
}

.species-form textarea {
    height: 50px;
    resize: none;
}

.species-form .form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-template-areas: "species-form-label species-form-input";
}

.species-form label {
    grid-area: species-form-label;
    font-size: calc(0.6*var(--rvv));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
}

.species-form input {
    grid-area: species-form-input;
}

.species-form #name {
    margin: auto 0;
    height: 30px;
}

/* species detail view */

.species-info {
    max-width: 1000px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 25px;
    row-gap: 20px;
    grid-template-areas:
        "species-name-label species-name-text"
        "species-description-label species-description-body"
        "species-plants-label species-plants"
        "species-delete species-delete";
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 20px 30px;
    font-size: calc(0.6*var(--rvv));
}

.light {
    font-weight: 300;
}

.right {
    margin-left: auto;
    text-align: end;
}

.species-name-label {
    grid-area: species-name-label;
}

.species-name-text {
    grid-area: species-name-text;
}

.species-description-label {
    grid-area: species-description-label;
}

.species-description-body {
    grid-area: species-description-body;
}

.species-plants-label {
    grid-area: species-plants-label;
}

.species-plants {
    grid-area: species-plants;
}

.species-plants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.species-plant {
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.species-plant:hover {
    transform: scale(1.05);
}

.species-plant a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.species-plant a:hover {
    text-shadow: none;
}

.species-delete {
    grid-area: species-delete;
    font-size: calc(0.7*var(--rvv));
    margin: 40px auto 20px;
}

/* cultivar list view */

.cultivar-item {
    max-width: 700px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cultivar-item.demo-item {
    background-color: rgba(255, 255, 255, 0.685);
    padding-top: 10px;
    padding-bottom: 10px;
}

.cultivar-name {
    font-size: calc(0.6*var(--rvv));
}

/* cultivar detail view */

.cultivar-info {
    max-width: 1000px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 25px;
    row-gap: 20px;
    grid-template-areas:
        "cultivar-name-label cultivar-name-text"
        "cultivar-species-label cultivar-species-text"
        "cultivar-plants-label cultivar-plants-text"
        "cultivar-action-buttons cultivar-action-buttons";
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.453);
    padding: 20px 30px;
    font-size: calc(0.6*var(--rvv));
}

.cultivar-name-label {
    grid-area: cultivar-name-label;
}

.cultivar-name-text {
    grid-area: cultivar-name-text;
}

.cultivar-species-label {
    grid-area: cultivar-species-label;
}

.cultivar-species-text {
    grid-area: cultivar-species-text;
}

.cultivar-plants-label {
    grid-area: cultivar-plants-label;
}

.cultivar-plants-text {
    grid-area: cultivar-plants-text;
}

.cultivar-plants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cultivar-plant {
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.cultivar-plant:hover {
    transform: scale(1.05);
}

.cultivar-plant a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.cultivar-plant a:hover {
    text-shadow: none;
}

.cultivar-action-buttons {
    grid-area: cultivar-action-buttons;
    display: flex;
    justify-content: center;
}

/* cultivar form */

.cultivar-form {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
}

.cultivar-form .form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-template-areas: "cultivar-form-label cultivar-form-input";
}

.cultivar-form label {
    grid-area: cultivar-form-label;
    font-size: calc(0.6*var(--rvv));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
}

.cultivar-form input {
    grid-area: cultivar-form-input;
    margin: auto 0;
    height: 30px;
}

.cultivar-form select {
    margin: auto 0;
    height: 50px;
}

/* flavor list view */

.flavor-list {
    max-width: 1000px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.flavor-item {
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.flavor-item:hover {
    transform: scale(1.05);
}

.flavor-item a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.flavor-item a:hover {
    text-shadow: none;
}

/* flavor detail view */

.flavor-info {
    max-width: 1000px;
}

.flavor-info p {
    margin: 20px 0;
}

.flavor-plants-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.flavor-plant {
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.flavor-plant:hover {
    transform: scale(1.05);
}

.flavor-plant a:hover {
    text-shadow: none;
}

.flavor-plant a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.flavor-action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transform: scale(1.1);
}

/* flavor form */

.flavor-form {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 5px;
}

.flavor-form .form-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    grid-template-areas: "flavor-form-label flavor-form-input";
}

.flavor-form label {
    grid-area: flavor-form-label;
    font-size: calc(0.6*var(--rvv));
    text-align: end;
}

.flavor-form input {
    grid-area: flavor-form-input;
    height: 30px;
    margin: auto 0;
}

/* delete pages */

.delete-screen {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-title {
    text-decoration: underline;
    color: rgb(159, 0, 0);
}

.delete-confirm {
    font-size: calc(0.5*var(--rvv));
}

.delete-item-name {
    font-weight: 500;
    font-style: italic;
}

.delete-screen form {
    align-self: center;
}

.delete-button {
    background-color: rgb(143, 0, 0);
}

/* footer */

footer {
    margin: 100px 0 50px;
}

/* mobile styles: */

@media screen and (max-width: 800px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        margin: 20px auto;
    }

    .expand-icon,
    .collapse-icon {
        display: list-item;
    }

    .hidden {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;       
        gap: 30px;
        padding: 0 15px;
    }
    
    .nav-list li {
        width: 45%;
        text-align: center;
    }

    .nav-list li:first-child {
        width: 100%;
    }

    .inventory-stats {
        align-self: center;
        padding: 20px;
        min-width: 0;
        width: auto;
        max-width: 80%;
        flex-direction: column;
    }

    .plant-info {
        padding: 20px 0;
        width: 100%;
        grid-template-areas:
            "plant-name-label plant-name-text"
            "plant-description-label plant-description-label"
            "plant-description-text plant-description-text"
            "plant-species-label plant-species-text"
            "plant-cultivars-label plant-cultivars-text"
            "plant-flavors-label plant-flavors-text"
            "in-stock-label in-stock-status"
            "plant-action-buttons plant-action-buttons";
    }

    .plant-description-label {
        text-align: center;
        margin: 0 auto -10px;
    }

    .plant-description-text {
        text-align: center;
        margin: 0 auto;
    }

    .plant-form .form-section:not(.flavor-section) {
        grid-template-columns: 40% 1fr;
    }

    .species-info {
        grid-template-areas:
            "species-name-label species-name-text"
            "species-description-label species-description-label"
            "species-description-body species-description-body"
            "species-plants-label species-plants-label"
            "species-plants species-plants"
            "species-delete species-delete";
    }

    .species-description-label {
        text-align: center;
        margin: 0 auto -10px;
    }

    .species-plants-label {
        text-align: center;
        margin: 0 auto;
    }

    .species-plants-list {
        justify-content: center;
        gap: 15px;
    }

    .species-plant a {
        padding: 5px;
    }

    .species-form .form-section {
        grid-template-columns: 40% 1fr;
    }

    .cultivar-info {
        grid-template-areas:
            "cultivar-name-label cultivar-name-text"
            "cultivar-species-label cultivar-species-text"
            "cultivar-plants-label cultivar-plants-label"
            "cultivar-plants-text cultivar-plants-text"
            "cultivar-action-buttons cultivar-action-buttons";
    }

    .cultivar-plants-label {
        text-align: center;
        margin: 0 auto;
    }

    .cultivar-plants-list {
        justify-content: center;
        gap: 15px;
    }

    .cultivar-form .form-section {
        grid-template-columns: 40% 1fr;
    }

    .purchase-button {
        margin-left: 5px;
    }

    .flavor-list {
        justify-content: center;
    }

    .form-input[type='text'] {
        max-width: 75%;
    }

    select {
        width: 190px;
        max-width: 80%;
        text-overflow: ellipsis;
    }

    
}